
.search-bar{
    font-size:20px;
    margin-left: 200px;
    border-radius: 20px;
    width:800px;
    padding-right:10px ;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top:20px;
    display: block;
}


.thumbnails{
    width:400px;
display: block;
border-radius: 10px;

    
}

.watch{
    width:200px;height:30px;
    border-radius: 20px;
    color:blue;
    font-family:Arial, Helvetica, sans-serif;
    
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    transition: background-color 0.15s,
    color 0.15s;
    transition: background-color 0.15s,
    color 0.15s;
transition: background-color 0.15s,
color 0.15s;
display: inline-block;

}

.learn{
    width:200px;height:30px;
    border-radius: 20px;
    color:blue;
    font-family:Arial, Helvetica, sans-serif;

    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    transition: background-color 0.15s,
    color 0.15s;
    display: inline-block;
}


.video-preview:{
    width:300px;
    display: inline-block;
    vertical-align:top;
    margin-right: 15px;

    
}
.video-info-grid{
    display:grid;
    grid-template-columns: 50px 1fr;
}
.channel-picture{
    background-color: gray;
}
.video-info{
    background-color: gray;
}